_wp-developer/test/404.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/png" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>Barker - 404</title>
  </head>
  <body>
    <main class="main not-found">
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12"><img src="./images/404.png" alt="">
              <div class="subtitle u-text-center">
                <h4>oh no! La página que solicitó no se<br>pudo encontrar.</h4>
              </div>
              <p class="u-text-center"><a class="btn btn--primary" href="./">Volver al inicio</a></p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="hamburguer popup-inner" id="barker-hamburguer">
      <div class="hamburguer__content">
        <div class="subtitle-xs">
          <h3>¿Cuántas hamburguesas barker debes darle a tu perro?</h3>
        </div>
        <p>*Cada hamburguesa contiene 50 gramos de barker</p>
        <div class="hamburguer__table">
          <table>
            <thead>
              <tr>
                <th>PESO</th>
                <th>1.5m a 11m</th>
                <th>12m a 8 años</th>
                <th>8 años a más</th>
                <th>Gestante/lactante</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 - 5 kg</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>5 - 10 kg</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>6</td>
              </tr>
              <tr>
                <td>10 - 22 kg</td>
                <td>5</td>
                <td>8</td>
                <td>6</td>
                <td>12</td>
              </tr>
              <tr>
                <td>22 - 45 kg</td>
                <td>11</td>
                <td>16</td>
                <td>12</td>
                <td>24</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="hamburguer__feedback">*Actividad Física intermedia. De ser el caso de perros de alta actividad, considerar duplicar o triplicar la ración de acuerdo a la exigencia física.</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.debug.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>

_wp-developer/src/pug/views/404.pug
extends ../templates/base-structure

block config
	- var title = 'Barker - 404' //- título de página

block main
	main.main.not-found
		section.section
			.container
				.row
					.col-lg-12
						img(src="./images/404.png", alt="")
						.subtitle.u-text-center
							h4 oh no! La página que solicitó no se#[br]pudo encontrar.
						p.u-text-center
							a.btn.btn--primary(href="./") Volver al inicio
