_wp-developer/src/pug/views/puntos-de-venta.pug
extends ../templates/base-structure

block config
	- var title = 'BARKER - Puntos de venta' //- title page

block main
	- var current = 'Puntos de venta'
	- var classVisible = false

	include ../templates/header

	.page-wrap
		main.main.location
			.page-name
				h2 Puntos de venta

			section.section
				.container
					.title
						h2
							span Encuentra tu producto
							| Ubica nuestros puntos de venta
					.search-inner
						form(action="")
							.field-wrapper
								input.js-search-field(type="text" placeholder="Busca tu punto de venta")
								button.js-btn-search(type="button"): svg: use(xlink:href="./images/sprite.svg#search")

					#map.map-location
					script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQayMO5EYL8z2MjXUvW2y7FFlykh_Wc1I" async defer)
					
					.points-sale
						.subtitle-common
							h5 Direcciones de las veterinarias
						.row.justify-content-center.js-point-container
							//- -
							//- 	var locations = [
							//- 		['Animal Medical Center 1', -33.890542, 151.274856],
							//- 		['Animal Medical Center 2', -33.923036, 151.259052],
							//- 		['Animal Medical Center 3', -34.028249, 151.157507],
							//- 		['Animal Medical Center 4', -33.80010128657071, 151.28747820854187],
							//- 		['Animal Medical Center 5', -33.950198, 151.259302]
							//- 	]

							//- - for (var i = 0; i < locations.length; i++) {
							//- 	.point-sale.col-lg-4(data-location=`${locations[i]}`)
							//- 		.point-sale__box
							//- 			h2.point-sale__title Surco
							//- 			ul.point-sale__data
							//- 				li
							//- 					span: svg: use(xlink:href="./images/sprite.svg#local")
							//- 					| Animal Medical Center
							//- 				li
							//- 					span: svg: use(xlink:href="./images/sprite.svg#location")
							//- 					| Doña Virginia 171 Urb. Los Rosales SURCO
							//- 				li
							//- 					span: svg: use(xlink:href="./images/sprite.svg#phone")
							//- 					| 4559438
							//- - }
	
	include ../templates/footer

_wp-developer/test/puntos-de-venta.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/png" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>BARKER - Puntos de venta</title>
  </head>
  <body>
    <!-- HEADER-->
    <nav class="site-nav js-site-nav">
      <div class="container-fluid">
        <div class="u-flex justify-content-between align-items-center">
          <div class="site-nav__logo"><a class="u-flex" href="./">
              <svg>
                <use xlink:href="./images/sprite.svg#barker"></use>
              </svg></a></div>
          <div class="site-nav__main u-flex">
            <div class="site-nav__links">
              <div class="site-nav__close-menu u-visible-tablet"></div>
              <div class="site-nav__links-wrap">
                <ul>
                      <li><a class="site-nav__item js-btn-barker-nav" href="nosotros.html"><span class="text">Conócenos</span></a>
                        <div class="barker-menu">
                          <div class="barker-menu__header">
                            <button class="js-btn-barker-nav"><span class="icon">
                                <svg>
                                  <use xlink:href="./images/sprite.svg#back"></use>
                                </svg></span><span class="text">Volver</span></button>
                          </div>
                          <div class="barker-menu__content">
                            <ul class="barker-menu__list">
                              <li><a class="site-nav__item" href="nosotros.html">Nosotros</a></li>
                              <li><a class="site-nav__item" href="ingredientes.html">Ingredientes</a></li>
                              <li><a class="site-nav__item" href="como-funciona.html">Como funciona</a></li>
                              <li><a class="site-nav__item" href="faq.html">Preguntas frecuentes</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li><a class="site-nav__item" href="sabores.html"><span class="text">Sabores</span></a>
                      </li>
                      <li><a class="site-nav__item is-active" href="puntos-de-venta.html"><span class="text">Puntos de venta</span></a>
                      </li>
                      <li><a class="site-nav__item" href="faq.html"><span class="text">Preguntas frecuentes</span></a>
                      </li>
                      <li><a class="site-nav__item" href="suscripcion.html"><span class="text">Suscripción</span></a>
                      </li>
                      <li><a class="site-nav__item" href="blog.html"><span class="text">Blog</span></a>
                      </li>
                </ul>
                <div class="site-nav__aditional u-visible-tablet">
                  <ul class="site-nav__aditional-data">
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#email"></use>
                        </svg></span>contacto@barker.pe</li>
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#phone"></use>
                        </svg></span>991750566</li>
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#pin"></use>
                        </svg></span>Gerona 225 - San Borja</li>
                  </ul>
                  <ul class="site-nav__aditional-social">
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#whatsapp"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#facebook"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#instagram"></use>
                        </svg></a></li>
                  </ul>
                  <ul class="site-nav__aditional-plus">
                    <li><a href="">Términos</a></li>
                    <li><a href="">Privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="site-nav__actions u-flex"><a class="site-nav__item" href="pedidos.html"><span class="icon">
                  <svg>
                    <use xlink:href="./images/sprite.svg#pedido"></use>
                  </svg></span><span class="text u-hidden-desktop">Pedidos</span></a><a class="site-nav__item" href="cuenta.html"><span class="icon u-visible-tablet">
                  <svg>
                    <use xlink:href="./images/sprite.svg#user"></use>
                  </svg></span><span class="text">Iniciar sesión</span></a>
              <button class="site-nav__item navicon js-btn-menu u-visible-tablet"><span class="icon"></span></button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="page-wrap">
      <main class="main location">
        <div class="page-name">
          <h2>Puntos de venta</h2>
        </div>
        <section class="section">
          <div class="container">
            <div class="title">
              <h2><span>Encuentra tu producto</span>Ubica nuestros puntos de venta</h2>
            </div>
            <div class="search-inner">
              <form action="">
                <div class="field-wrapper">
                  <input class="js-search-field" type="text" placeholder="Busca tu punto de venta">
                  <button class="js-btn-search" type="button">
                    <svg>
                      <use xlink:href="./images/sprite.svg#search"></use>
                    </svg>
                  </button>
                </div>
              </form>
            </div>
            <div class="map-location" id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQayMO5EYL8z2MjXUvW2y7FFlykh_Wc1I" async defer></script>
            <div class="points-sale">
              <div class="subtitle-common">
                <h5>Direcciones de las veterinarias</h5>
              </div>
              <div class="row justify-content-center js-point-container"></div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- FOOTER -->
    <footer class="site-footer u-hidden-tablet">
      <div class="container">
        <div class="site-footer__header"><span class="u-flex">
            <svg>
              <use xlink:href="./images/sprite.svg#barker"></use>
            </svg></span></div>
        <div class="row">
          <div class="col-lg-4">
            <h6 class="site-footer__title">MAPA DE SITIO</h6>
            <ul class="site-footer__links">
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="como-funciona.html">Como funciona</a></li>
              <li><a href="sabores.html">Productos</a></li>
              <li><a href="suscripcion.html">Suscripción</a></li>
              <li><a href="faq.html">Preguntas frecuentes</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="site-footer__title">CONTACTO</h6>
            <ul class="site-footer__links">
              <li><a href=""><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#email"></use>
                    </svg></span>contacto@barker.pe</a></li>
              <li><a href="" target="_blank"><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#instagram"></use>
                    </svg></span>instagram</a></li>
              <li><a href="" target="_blank"><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#facebook"></use>
                    </svg></span>facebook</a></li>
              <li><a href=""><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#phone"></use>
                    </svg></span>991750566</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="site-footer__title">CONSEJOS, RECETAS Y TIPS PARA TU MASCOTA</h6>
            <form action="" method="post">
              <div class="field-wrapper subscribe">
                <input type="text" name="email-subscribe" id="email-subscribe" placeholder="Ingresa tu correo">
                <button class="button icon" type="submit">ENVIAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
    <!-- /ENDS FOOTER-->
    <div class="hamburguer popup-inner" id="barker-hamburguer">
      <div class="hamburguer__content">
        <div class="subtitle-xs">
          <h3>¿Cuántas hamburguesas barker debes darle a tu perro?</h3>
        </div>
        <p>*Cada hamburguesa contiene 50 gramos de barker</p>
        <div class="hamburguer__table">
          <table>
            <thead>
              <tr>
                <th>PESO</th>
                <th>1.5m a 11m</th>
                <th>12m a 8 años</th>
                <th>8 años a más</th>
                <th>Gestante/lactante</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 - 5 kg</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>5 - 10 kg</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>6</td>
              </tr>
              <tr>
                <td>10 - 22 kg</td>
                <td>5</td>
                <td>8</td>
                <td>6</td>
                <td>12</td>
              </tr>
              <tr>
                <td>22 - 45 kg</td>
                <td>11</td>
                <td>16</td>
                <td>12</td>
                <td>24</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="hamburguer__feedback">*Actividad Física intermedia. De ser el caso de perros de alta actividad, considerar duplicar o triplicar la ración de acuerdo a la exigencia física.</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.debug.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
