wp-content/themes/barker-theme/assets/pug/views/blog-interna.pug
extends ../templates/base-structure

block config
	- var title = 'BARKER - Blog'

block main
	- var current = 'Blog'
	- var classVisible = false

	include ../templates/header
	
	.page-wrap
		main.main.blog
			.blog-banner
				.blog-banner__item(style="background-image: url('./images/blog/banner.jpg')")
					.container.u-full-height.u-flex.align-items-end
						.news__head.u-hidden-tablet
							.breadcrumbs
								ul
									li: a(href="") Blog
									li: a(href="") Categoría
									li: a(href="") Post
							h1.news__title Título del post de la noticia
							span.news__date Publicado: hace 2 horas
							.social
								ul
									li: a(href=""): svg: use(xlink:href="./images/sprite.svg#twitter")
									li: a(href=""): svg: use(xlink:href="./images/sprite.svg#facebook")
									li: a(href=""): svg: use(xlink:href="./images/sprite.svg#instagram")

			section.section.news
				.container
					.row
						article.col-lg-8
							.news__head.u-visible-tablet
								.breadcrumbs
									ul
										li: a(href="") Blog
										li: a(href="") Categoría
										li: a(href="") Post
								h1.news__title Título del post de la noticia
								span.news__date Publicado: hace 2 horas
								.social
									ul
										li: a(href=""): svg: use(xlink:href="./images/sprite.svg#twitter")
										li: a(href=""): svg: use(xlink:href="./images/sprite.svg#facebook")
										li: a(href=""): svg: use(xlink:href="./images/sprite.svg#instagram")
								
							.news__content
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit 

						aside.sidebar.col-lg-4.u-hidden-tablet-wide
							.search-inner
								form(action="")
									.field-wrapper
										input(type="text" placeholder="")
										button(type="submit"): svg: use(xlink:href="./images/sprite.svg#search")
							.sidebar__item.news__related
								h4.sidebar__title Noticias relacionadas
								ul.sidebar__list
									- for (var i = 1; i <= 3; i++) {
										li
											.news-thumb
												a.news-thumb__wrapper(href="")
													figure.news-thumb__image: img(src="./images/blog/noticia-01.jpg", alt="")
													.news-thumb__content
														h2.news-thumb__title Mauris accumsan eros eget libero posuere vulputate
														span.news-thumb__date Mier, 12/04/18 - 14:35
									- }
							
							.sidebar__item.news__categories
								h4.sidebar__title Categorías
								ul.sidebar__list
									- for (var i = 1; i <= 4; i++) {
										li
											a(href="")
												span: svg: use(xlink:href="./images/sprite.svg#share")
												| Categoría #{i}
									- }

	include ../templates/footer

_wp-developer/test/blog-interna.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/png" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>BARKER - Blog</title>
  </head>
  <body>
    <!-- HEADER-->
    <nav class="site-nav js-site-nav">
      <div class="container-fluid">
        <div class="u-flex justify-content-between align-items-center">
          <div class="site-nav__logo"><a class="u-flex" href="./">
              <svg>
                <use xlink:href="./images/sprite.svg#barker"></use>
              </svg></a></div>
          <div class="site-nav__main u-flex">
            <div class="site-nav__links">
              <div class="site-nav__close-menu u-visible-tablet"></div>
              <div class="site-nav__links-wrap">
                <ul>
                      <li><a class="site-nav__item js-btn-barker-nav" href="nosotros.html"><span class="text">Conócenos</span></a>
                        <div class="barker-menu">
                          <div class="barker-menu__header">
                            <button class="js-btn-barker-nav"><span class="icon">
                                <svg>
                                  <use xlink:href="./images/sprite.svg#back"></use>
                                </svg></span><span class="text">Volver</span></button>
                          </div>
                          <div class="barker-menu__content">
                            <ul class="barker-menu__list">
                              <li><a class="site-nav__item" href="nosotros.html">Nosotros</a></li>
                              <li><a class="site-nav__item" href="ingredientes.html">Ingredientes</a></li>
                              <li><a class="site-nav__item" href="como-funciona.html">Como funciona</a></li>
                              <li><a class="site-nav__item" href="faq.html">Preguntas frecuentes</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li><a class="site-nav__item" href="sabores.html"><span class="text">Sabores</span></a>
                      </li>
                      <li><a class="site-nav__item" href="puntos-de-venta.html"><span class="text">Puntos de venta</span></a>
                      </li>
                      <li><a class="site-nav__item" href="faq.html"><span class="text">Preguntas frecuentes</span></a>
                      </li>
                      <li><a class="site-nav__item" href="suscripcion.html"><span class="text">Suscripción</span></a>
                      </li>
                      <li><a class="site-nav__item is-active" href="blog.html"><span class="text">Blog</span></a>
                      </li>
                </ul>
                <div class="site-nav__aditional u-visible-tablet">
                  <ul class="site-nav__aditional-data">
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#email"></use>
                        </svg></span>contacto@barker.pe</li>
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#phone"></use>
                        </svg></span>991750566</li>
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#pin"></use>
                        </svg></span>Gerona 225 - San Borja</li>
                  </ul>
                  <ul class="site-nav__aditional-social">
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#whatsapp"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#facebook"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#instagram"></use>
                        </svg></a></li>
                  </ul>
                  <ul class="site-nav__aditional-plus">
                    <li><a href="">Términos</a></li>
                    <li><a href="">Privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="site-nav__actions u-flex"><a class="site-nav__item" href="pedidos.html"><span class="icon">
                  <svg>
                    <use xlink:href="./images/sprite.svg#pedido"></use>
                  </svg></span><span class="text u-hidden-desktop">Pedidos</span></a><a class="site-nav__item" href="cuenta.html"><span class="icon u-visible-tablet">
                  <svg>
                    <use xlink:href="./images/sprite.svg#user"></use>
                  </svg></span><span class="text">Iniciar sesión</span></a>
              <button class="site-nav__item navicon js-btn-menu u-visible-tablet"><span class="icon"></span></button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="page-wrap">
      <main class="main blog">
        <div class="blog-banner">
          <div class="blog-banner__item" style="background-image: url('./images/blog/banner.jpg');">
            <div class="container u-full-height u-flex align-items-end">
              <div class="news__head u-hidden-tablet">
                <div class="breadcrumbs">
                  <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Categoría</a></li>
                    <li><a href="">Post</a></li>
                  </ul>
                </div>
                <h1 class="news__title">Título del post de la noticia</h1><span class="news__date">Publicado: hace 2 horas</span>
                <div class="social">
                  <ul>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#twitter"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#facebook"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#instagram"></use>
                        </svg></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="section news">
          <div class="container">
            <div class="row">
              <article class="col-lg-8">
                <div class="news__head u-visible-tablet">
                  <div class="breadcrumbs">
                    <ul>
                      <li><a href="">Blog</a></li>
                      <li><a href="">Categoría</a></li>
                      <li><a href="">Post</a></li>
                    </ul>
                  </div>
                  <h1 class="news__title">Título del post de la noticia</h1><span class="news__date">Publicado: hace 2 horas</span>
                  <div class="social">
                    <ul>
                      <li><a href="">
                          <svg>
                            <use xlink:href="./images/sprite.svg#twitter"></use>
                          </svg></a></li>
                      <li><a href="">
                          <svg>
                            <use xlink:href="./images/sprite.svg#facebook"></use>
                          </svg></a></li>
                      <li><a href="">
                          <svg>
                            <use xlink:href="./images/sprite.svg#instagram"></use>
                          </svg></a></li>
                    </ul>
                  </div>
                </div>
                <div class="news__content">
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit </p>
                </div>
              </article>
              <aside class="sidebar col-lg-4 u-hidden-tablet-wide">
                <div class="search-inner">
                  <form action="">
                    <div class="field-wrapper">
                      <input type="text" placeholder="">
                      <button type="submit">
                        <svg>
                          <use xlink:href="./images/sprite.svg#search"></use>
                        </svg>
                      </button>
                    </div>
                  </form>
                </div>
                <div class="sidebar__item news__related">
                  <h4 class="sidebar__title">Noticias relacionadas</h4>
                  <ul class="sidebar__list">
                    <li>
                      <div class="news-thumb"><a class="news-thumb__wrapper" href="">
                          <figure class="news-thumb__image"><img src="./images/blog/noticia-01.jpg" alt=""></figure>
                          <div class="news-thumb__content">
                            <h2 class="news-thumb__title">Mauris accumsan eros eget libero posuere vulputate</h2><span class="news-thumb__date">Mier, 12/04/18 - 14:35</span>
                          </div></a></div>
                    </li>
                    <li>
                      <div class="news-thumb"><a class="news-thumb__wrapper" href="">
                          <figure class="news-thumb__image"><img src="./images/blog/noticia-01.jpg" alt=""></figure>
                          <div class="news-thumb__content">
                            <h2 class="news-thumb__title">Mauris accumsan eros eget libero posuere vulputate</h2><span class="news-thumb__date">Mier, 12/04/18 - 14:35</span>
                          </div></a></div>
                    </li>
                    <li>
                      <div class="news-thumb"><a class="news-thumb__wrapper" href="">
                          <figure class="news-thumb__image"><img src="./images/blog/noticia-01.jpg" alt=""></figure>
                          <div class="news-thumb__content">
                            <h2 class="news-thumb__title">Mauris accumsan eros eget libero posuere vulputate</h2><span class="news-thumb__date">Mier, 12/04/18 - 14:35</span>
                          </div></a></div>
                    </li>
                  </ul>
                </div>
                <div class="sidebar__item news__categories">
                  <h4 class="sidebar__title">Categorías</h4>
                  <ul class="sidebar__list">
                    <li><a href=""><span>
                          <svg>
                            <use xlink:href="./images/sprite.svg#share"></use>
                          </svg></span>Categoría 1</a></li>
                    <li><a href=""><span>
                          <svg>
                            <use xlink:href="./images/sprite.svg#share"></use>
                          </svg></span>Categoría 2</a></li>
                    <li><a href=""><span>
                          <svg>
                            <use xlink:href="./images/sprite.svg#share"></use>
                          </svg></span>Categoría 3</a></li>
                    <li><a href=""><span>
                          <svg>
                            <use xlink:href="./images/sprite.svg#share"></use>
                          </svg></span>Categoría 4</a></li>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- FOOTER -->
    <footer class="site-footer u-hidden-tablet">
      <div class="container">
        <div class="site-footer__header"><span class="u-flex">
            <svg>
              <use xlink:href="./images/sprite.svg#barker"></use>
            </svg></span></div>
        <div class="row">
          <div class="col-lg-4">
            <h6 class="site-footer__title">MAPA DE SITIO</h6>
            <ul class="site-footer__links">
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="como-funciona.html">Como funciona</a></li>
              <li><a href="sabores.html">Productos</a></li>
              <li><a href="suscripcion.html">Suscripción</a></li>
              <li><a href="faq.html">Preguntas frecuentes</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="site-footer__title">CONTACTO</h6>
            <ul class="site-footer__links">
              <li><a href=""><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#email"></use>
                    </svg></span>contacto@barker.pe</a></li>
              <li><a href="" target="_blank"><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#instagram"></use>
                    </svg></span>instagram</a></li>
              <li><a href="" target="_blank"><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#facebook"></use>
                    </svg></span>facebook</a></li>
              <li><a href=""><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#phone"></use>
                    </svg></span>991750566</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="site-footer__title">CONSEJOS, RECETAS Y TIPS PARA TU MASCOTA</h6>
            <form action="" method="post">
              <div class="field-wrapper subscribe">
                <input type="text" name="email-subscribe" id="email-subscribe" placeholder="Ingresa tu correo">
                <button class="button icon" type="submit">ENVIAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
    <!-- /ENDS FOOTER-->
    <div class="hamburguer popup-inner" id="barker-hamburguer">
      <div class="hamburguer__content">
        <div class="subtitle-xs">
          <h3>¿Cuántas hamburguesas barker debes darle a tu perro?</h3>
        </div>
        <p>*Cada hamburguesa contiene 50 gramos de barker</p>
        <div class="hamburguer__table">
          <table>
            <thead>
              <tr>
                <th>PESO</th>
                <th>1.5m a 11m</th>
                <th>12m a 8 años</th>
                <th>8 años a más</th>
                <th>Gestante/lactante</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 - 5 kg</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>5 - 10 kg</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>6</td>
              </tr>
              <tr>
                <td>10 - 22 kg</td>
                <td>5</td>
                <td>8</td>
                <td>6</td>
                <td>12</td>
              </tr>
              <tr>
                <td>22 - 45 kg</td>
                <td>11</td>
                <td>16</td>
                <td>12</td>
                <td>24</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="hamburguer__feedback">*Actividad Física intermedia. De ser el caso de perros de alta actividad, considerar duplicar o triplicar la ración de acuerdo a la exigencia física.</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.debug.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
