wp-content/themes/barker-theme/assets/pug/views/sabores.pug
extends ../templates/base-structure

block config
	- var title = 'BARKER - Sabores' //- title page

block main
	- var current = 'Sabores'
	- var classVisible = false

	include ../templates/header

	.page-wrap
		.page-name
			h2 Producto

		main.main
			section.section.products
				.container
					.section-header
						.title.u-text-center
							h2 Nuestros productos
					
					.products-carousel
						.owl-carousel.js-products-carousel
							.product
								figure.product__image
									img(src="./images/productos/pollo.png", alt="")
								.product__text
									.product__title.subtitle-sm
										h2 Pollo
									p Piezas de pollo molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.
								.product__box
									h4.product__box-title Cuadro nutricional
									table.product__table
										thead
											tr
												th Energía (Kcal, kg)
												th 250
										tbody
											tr
												td % Proteína, min
												td 14.50
											tr
												td % Grasa, min
												td 9.00
											tr
												td % Fibra, max
												td 0.30
											tr
												td % Carbohidratos, min
												td 6.00
											tr
												td % Calcio, min
												td 0.90
											tr
												td % Fósforo, min
												td 0.50

							.product
								figure.product__image
									img(src="./images/productos/pavo.png", alt="")
								.product__text
									.product__title.subtitle-sm
										h2 Pavo
									p Piezas de pavo molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.
								.product__box
									h4.product__box-title Cuadro nutricional
									table.product__table
										thead
											tr
												th Energía (Kcal, kg)
												th 250
										tbody
											tr
												td % Proteína, min
												td 14.50
											tr
												td % Grasa, min
												td 9.00
											tr
												td % Fibra, max
												td 0.30
											tr
												td % Carbohidratos, min
												td 6.00
											tr
												td % Calcio, min
												td 0.90
											tr
												td % Fósforo, min
												td 0.50

							.product
								figure.product__image
									img(src="./images/productos/res.png", alt="")
								.product__text
									.product__title.subtitle-sm
										h2 Carne de Res
									p Piezas de carne de res molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.
								.product__box
									h4.product__box-title Cuadro nutricional
									table.product__table
										thead
											tr
												th Energía (Kcal, kg)
												th 250
										tbody
											tr
												td % Proteína, min
												td 14.50
											tr
												td % Grasa, min
												td 9.00
											tr
												td % Fibra, max
												td 0.30
											tr
												td % Carbohidratos, min
												td 6.00
											tr
												td % Calcio, min
												td 0.90
											tr
												td % Fósforo, min
												td 0.50

					p.u-text-center
						a.btn.btn--primary(href="pedidos.html") Diseña tu pedido

	include ../templates/footer

_wp-developer/test/sabores.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/png" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <title>BARKER - Sabores</title>
  </head>
  <body>
    <!-- HEADER-->
    <nav class="site-nav js-site-nav">
      <div class="container-fluid">
        <div class="u-flex justify-content-between align-items-center">
          <div class="site-nav__logo"><a class="u-flex" href="./">
              <svg>
                <use xlink:href="./images/sprite.svg#barker"></use>
              </svg></a></div>
          <div class="site-nav__main u-flex">
            <div class="site-nav__links">
              <div class="site-nav__close-menu u-visible-tablet"></div>
              <div class="site-nav__links-wrap">
                <ul>
                      <li><a class="site-nav__item js-btn-barker-nav" href="nosotros.html"><span class="text">Conócenos</span></a>
                        <div class="barker-menu">
                          <div class="barker-menu__header">
                            <button class="js-btn-barker-nav"><span class="icon">
                                <svg>
                                  <use xlink:href="./images/sprite.svg#back"></use>
                                </svg></span><span class="text">Volver</span></button>
                          </div>
                          <div class="barker-menu__content">
                            <ul class="barker-menu__list">
                              <li><a class="site-nav__item" href="nosotros.html">Nosotros</a></li>
                              <li><a class="site-nav__item" href="ingredientes.html">Ingredientes</a></li>
                              <li><a class="site-nav__item" href="como-funciona.html">Como funciona</a></li>
                              <li><a class="site-nav__item" href="faq.html">Preguntas frecuentes</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li><a class="site-nav__item is-active" href="sabores.html"><span class="text">Sabores</span></a>
                      </li>
                      <li><a class="site-nav__item" href="puntos-de-venta.html"><span class="text">Puntos de venta</span></a>
                      </li>
                      <li><a class="site-nav__item" href="faq.html"><span class="text">Preguntas frecuentes</span></a>
                      </li>
                      <li><a class="site-nav__item" href="suscripcion.html"><span class="text">Suscripción</span></a>
                      </li>
                      <li><a class="site-nav__item" href="blog.html"><span class="text">Blog</span></a>
                      </li>
                </ul>
                <div class="site-nav__aditional u-visible-tablet">
                  <ul class="site-nav__aditional-data">
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#email"></use>
                        </svg></span>contacto@barker.pe</li>
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#phone"></use>
                        </svg></span>991750566</li>
                    <li><span>
                        <svg>
                          <use xlink:href="./images/sprite.svg#pin"></use>
                        </svg></span>Gerona 225 - San Borja</li>
                  </ul>
                  <ul class="site-nav__aditional-social">
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#whatsapp"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#facebook"></use>
                        </svg></a></li>
                    <li><a href="">
                        <svg>
                          <use xlink:href="./images/sprite.svg#instagram"></use>
                        </svg></a></li>
                  </ul>
                  <ul class="site-nav__aditional-plus">
                    <li><a href="">Términos</a></li>
                    <li><a href="">Privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="site-nav__actions u-flex"><a class="site-nav__item" href="pedidos.html"><span class="icon">
                  <svg>
                    <use xlink:href="./images/sprite.svg#pedido"></use>
                  </svg></span><span class="text u-hidden-desktop">Pedidos</span></a><a class="site-nav__item" href="cuenta.html"><span class="icon u-visible-tablet">
                  <svg>
                    <use xlink:href="./images/sprite.svg#user"></use>
                  </svg></span><span class="text">Iniciar sesión</span></a>
              <button class="site-nav__item navicon js-btn-menu u-visible-tablet"><span class="icon"></span></button>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="page-wrap">
      <div class="page-name">
        <h2>Producto</h2>
      </div>
      <main class="main">
        <section class="section products">
          <div class="container">
            <div class="section-header">
              <div class="title u-text-center">
                <h2>Nuestros productos</h2>
              </div>
            </div>
            <div class="products-carousel">
              <div class="owl-carousel js-products-carousel">
                <div class="product">
                  <figure class="product__image"><img src="./images/productos/pollo.png" alt=""></figure>
                  <div class="product__text">
                    <div class="product__title subtitle-sm">
                      <h2>Pollo</h2>
                    </div>
                    <p>Piezas de pollo molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.</p>
                  </div>
                  <div class="product__box">
                    <h4 class="product__box-title">Cuadro nutricional</h4>
                    <table class="product__table">
                      <thead>
                        <tr>
                          <th>Energía (Kcal, kg)</th>
                          <th>250</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>% Proteína, min</td>
                          <td>14.50</td>
                        </tr>
                        <tr>
                          <td>% Grasa, min</td>
                          <td>9.00</td>
                        </tr>
                        <tr>
                          <td>% Fibra, max</td>
                          <td>0.30</td>
                        </tr>
                        <tr>
                          <td>% Carbohidratos, min</td>
                          <td>6.00</td>
                        </tr>
                        <tr>
                          <td>% Calcio, min</td>
                          <td>0.90</td>
                        </tr>
                        <tr>
                          <td>% Fósforo, min</td>
                          <td>0.50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="product">
                  <figure class="product__image"><img src="./images/productos/pavo.png" alt=""></figure>
                  <div class="product__text">
                    <div class="product__title subtitle-sm">
                      <h2>Pavo</h2>
                    </div>
                    <p>Piezas de pavo molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.</p>
                  </div>
                  <div class="product__box">
                    <h4 class="product__box-title">Cuadro nutricional</h4>
                    <table class="product__table">
                      <thead>
                        <tr>
                          <th>Energía (Kcal, kg)</th>
                          <th>250</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>% Proteína, min</td>
                          <td>14.50</td>
                        </tr>
                        <tr>
                          <td>% Grasa, min</td>
                          <td>9.00</td>
                        </tr>
                        <tr>
                          <td>% Fibra, max</td>
                          <td>0.30</td>
                        </tr>
                        <tr>
                          <td>% Carbohidratos, min</td>
                          <td>6.00</td>
                        </tr>
                        <tr>
                          <td>% Calcio, min</td>
                          <td>0.90</td>
                        </tr>
                        <tr>
                          <td>% Fósforo, min</td>
                          <td>0.50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="product">
                  <figure class="product__image"><img src="./images/productos/res.png" alt=""></figure>
                  <div class="product__text">
                    <div class="product__title subtitle-sm">
                      <h2>Carne de Res</h2>
                    </div>
                    <p>Piezas de carne de res molida, hígado y tejido blando (fuente de colágeno), arroz, legumbres frescas, vinagre de manzana, huevo pasteurizado, probióticos (levadura de cerveza), Vitamina E, Vitaminas A, B1, B2, B6, B12, D3, K3, Niacina, Ácido fólico, Biotina, Óxido de Zinc, Sulfato Ferroso, Sulfato de Cobre, Óxido de Manganeso, Iodato de Calcio, Selenito de Sodio, sal.</p>
                  </div>
                  <div class="product__box">
                    <h4 class="product__box-title">Cuadro nutricional</h4>
                    <table class="product__table">
                      <thead>
                        <tr>
                          <th>Energía (Kcal, kg)</th>
                          <th>250</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>% Proteína, min</td>
                          <td>14.50</td>
                        </tr>
                        <tr>
                          <td>% Grasa, min</td>
                          <td>9.00</td>
                        </tr>
                        <tr>
                          <td>% Fibra, max</td>
                          <td>0.30</td>
                        </tr>
                        <tr>
                          <td>% Carbohidratos, min</td>
                          <td>6.00</td>
                        </tr>
                        <tr>
                          <td>% Calcio, min</td>
                          <td>0.90</td>
                        </tr>
                        <tr>
                          <td>% Fósforo, min</td>
                          <td>0.50</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <p class="u-text-center"><a class="btn btn--primary" href="suscripcion.html">Diseña tu pedido</a></p>
          </div>
        </section>
      </main>
    </div>
    <!-- FOOTER -->
    <footer class="site-footer u-hidden-tablet">
      <div class="container">
        <div class="site-footer__header"><span class="u-flex">
            <svg>
              <use xlink:href="./images/sprite.svg#barker"></use>
            </svg></span></div>
        <div class="row">
          <div class="col-lg-4">
            <h6 class="site-footer__title">MAPA DE SITIO</h6>
            <ul class="site-footer__links">
              <li><a href="nosotros.html">Nosotros</a></li>
              <li><a href="como-funciona.html">Como funciona</a></li>
              <li><a href="sabores.html">Productos</a></li>
              <li><a href="suscripcion.html">Suscripción</a></li>
              <li><a href="faq.html">Preguntas frecuentes</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="site-footer__title">CONTACTO</h6>
            <ul class="site-footer__links">
              <li><a href=""><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#email"></use>
                    </svg></span>contacto@barker.pe</a></li>
              <li><a href="" target="_blank"><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#instagram"></use>
                    </svg></span>instagram</a></li>
              <li><a href="" target="_blank"><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#facebook"></use>
                    </svg></span>facebook</a></li>
              <li><a href=""><span class="icon">
                    <svg>
                      <use xlink:href="./images/sprite.svg#phone"></use>
                    </svg></span>991750566</a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="site-footer__title">CONSEJOS, RECETAS Y TIPS PARA TU MASCOTA</h6>
            <form action="" method="post">
              <div class="field-wrapper subscribe">
                <input type="text" name="email-subscribe" id="email-subscribe" placeholder="Ingresa tu correo">
                <button class="button icon" type="submit">ENVIAR</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </footer>
    <!-- /ENDS FOOTER-->
    <div class="hamburguer popup-inner" id="barker-hamburguer">
      <div class="hamburguer__content">
        <div class="subtitle-xs">
          <h3>¿Cuántas hamburguesas barker debes darle a tu perro?</h3>
        </div>
        <p>*Cada hamburguesa contiene 50 gramos de barker</p>
        <div class="hamburguer__table">
          <table>
            <thead>
              <tr>
                <th>PESO</th>
                <th>1.5m a 11m</th>
                <th>12m a 8 años</th>
                <th>8 años a más</th>
                <th>Gestante/lactante</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1 - 5 kg</td>
                <td>1</td>
                <td>2</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>5 - 10 kg</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>6</td>
              </tr>
              <tr>
                <td>10 - 22 kg</td>
                <td>5</td>
                <td>8</td>
                <td>6</td>
                <td>12</td>
              </tr>
              <tr>
                <td>22 - 45 kg</td>
                <td>11</td>
                <td>16</td>
                <td>12</td>
                <td>24</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="hamburguer__feedback">*Actividad Física intermedia. De ser el caso de perros de alta actividad, considerar duplicar o triplicar la ración de acuerdo a la exigencia física.</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/1.3.0/jquery.scrollmagic.debug.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
